\documentclass{dissertation}

%% Turn off page numbering for the propositions and make the margins on both
%% sides equal and symmetrical.
\geometry{twoside=false}
\geometry{margin=0.7in}

\pagestyle{empty}

\begin{document}

%% Specify the title and author of the thesis. This information will be used on
%% both the English and Dutch side and in the metadata of the final PDF.
\title{Towards realistic numerical simulations of Majorana devices}  % XXX: check if title isn't changed
\author{Bas}{Nijholt}

\begin{center}

{\Large\titlefont\bfseries Propositions}

\smallskip

accompanying the dissertation

\smallskip

%% Print the title.
{\makeatletter
\titlestyle\bfseries\large\@title
\makeatother}

%% Print the optional subtitle.
{\makeatletter
\ifx\@subtitle\undefined\else
    \titlefont\titleshape\@subtitle
\fi
\makeatother}

\smallskip

by

\smallskip

%% Print the full name of the author.
\makeatletter
{\large\titlefont\bfseries\@firstname\ {\titleshape\@lastname}}
\makeatother

\end{center}

\begin{enumerate}
\itemsep-0.08em

{% for prop in propositions %}
\item {{ prop['english'] }}
{% endfor %}

\end{enumerate}

\bigskip
\bigskip

%% Apart from the name and title of the supervisor, the following text is
%% dictated by the promotieregelement.
\begin{center}
These propositions are regarded as opposable and defendable, and have been approved as such by the promotor  dr.\ A.\ R.\ Akhmerov.
\end{center}

\clearpage
{\selectlanguage{dutch}

\begin{center}

{\Large\titlefont\bfseries Stellingen}

\smallskip

behorende bij het proefschrift

\smallskip

%% Print the title.
{\makeatletter
\titlestyle\bfseries\large\@title
\makeatother}

%% Print the optional subtitle.
{\makeatletter
\ifx\@subtitle\undefined\else
    \titlefont\titleshape\@subtitle
\fi
\makeatother}

\smallskip

door

\smallskip

%% Print the full name of the author.
\makeatletter
{\large\titlefont\bfseries\@firstname\ {\titleshape\@lastname}}
\makeatother

\end{center}

\begin{enumerate}
\itemsep-0.08em

{% for prop in propositions %}
\item {{ prop['dutch'] }}
{% endfor %}

\end{enumerate}

\smallskip

%% Apart from the name and title of the supervisor, the following text is
%% dictated by the promotieregelement.
\begin{center}
Deze stellingen worden opponeerbaar en verdedigbaar geacht en zijn als zodanig goedgekeurd door de promotor dr.\ A.\ R.\ Akhmerov.
\end{center}

}

\end{document}
